            div.card {
              position: relative;
              display: block;
              margin-bottom: .75rem;
              background-color: #000000;
              border: 1px solid #808080;
              border-radius: .8rem;
              padding: 10px;
              
            }
            div.card-inverse{
                color: #ffffff;
            }

            div.card-primary {
              background-color: #808080;
              border-color: #808080;
            }

            div.card-title {
                margin-bottom: .75rem;
            }

            div.card-block {
                color: #000000;
                margin-bottom: .75rem;
                padding: 5px;
            }

            div.card-block-contrast {
                background-color: #909090;
            }

            img.card-responsive {
                max-width: 100%;
                max-height: 100%;
            }