/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.28-dev.46 built: 09-12-2017
*/
#appHost {
  height: 100%;
}
#splash {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splashContainer {
  width: 100%;
  text-align: center;
}
