/*
 * emf (Epicor Mobile Framework) 
 * version:1.1.0-dev.73 built: 20-08-2018
*/
#appHost {
  height: 100%;
}
#splash {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splashContainer {
  width: 100%;
  text-align: center;
}
