/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.12-dev.258 built: 05-05-2017
*/
.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #000000;
  border: 1px solid #808080;
  border-radius: .8rem;
  padding: 10px;
}
.card-inverse {
  color: #ffffff;
}
.card-primary {
  background-color: #808080;
  border-color: #808080;
}
.card-title {
  margin-bottom: .75rem;
}
.card-block {
  color: #000000;
  margin-bottom: .75rem;
  padding: 5px;
}
.card-block-contrast {
  background-color: #909090;
}
.card-responsive {
  max-width: 100%;
  max-height: 100%;
}

.ep-color-tile {
  position: relative;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.ep-color-tile h3 {
  margin-top: 0;
}
.ep-color-tile-icon {
  position: absolute !important;
  top: 10px;
  right: 15px;
  font-size: 30px;
  opacity: 0.3;
}
.bg-red {
  background-color: #fe402b;
}
.bg-orange {
  background-color: #D9853B;
}
.bg-yellow {
  background-color: #ffc545;
}
.bg-blue {
  background-color: #4dd4fd;
}
.bg-green {
  background-color: #9ad268;
}

.ep-contacts-list-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ep-contacts-list-container li {
  list-style-type: none;
}
.ep-contacts-list {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-left: 8px;
  padding-top: 50px;
  top: 0;
}
.ep-contacts-list-inner {
  width: 100%;
  height: calc(100% + 1px);
}
.ep-contacts-list li {
  border-bottom: 1px solid #eee;
}
.ep-index-list {
  position: absolute;
  right: 0;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  width: 20px;
  top: 0;
  padding-top: 93px;
  height: 100%;
}
.ep-index-list a {
  text-decoration: none !important;
  font-weight: bold;
}
.ep-index-list li {
  color: #129ff4;
  font-weight: bold;
}
.ep-index-list.small-index-list {
  display: none;
}
.ep-index-list.small-index-list li {
  line-height: 4vh;
}
.ep-index-list .fa-circle {
  font-size: 8px;
}
.ep-contacts-list ul {
  padding: 0;
  margin: 0;
}
#ep-contacts-list-search {
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  width: 90%;
}
.ep-list-search-container {
  position: absolute;
  width: 100%;
  background-color: #CAC9CE;
  z-index: 999;
  height: 50px;
  padding-left: 5%;
  top: 0;
}
.ep-list-search-container .glyphicon {
  position: absolute;
  left: 10px;
  top: 17px;
  padding-left: 5%;
}
.ep-contact-list-id {
  float: right;
  margin-right: 40px;
}
.ep-contact-list-arrow {
  padding-right: 30px !important;
  /*padding-top:5px !important;*/
}
.ep-contact-list-subtitle-arrow {
  margin-top: 10px !important;
}
.ep-contact-list-maintitle-arrow {
  margin-top: -40px;
}
.ep-contact-list-additionalTitle-arrow {
  margin-top: 25px !important;
}
.ep-contact-search {
  margin-left: -25px;
  margin-top: 7px;
}
.ep-contact-sub-header {
  background-color: #f3f3f3;
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.ep-contact-sub-header-label {
  width: 60px;
  font-size: 14px;
  color: #0379bc;
}
.col-xs-4 .col-xs-6 {
  padding-left: 0 !important;
}
.ep-contacts-list .mainTitle,
.ep-contacts-list .subTitle,
.ep-contacts-list .additionalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* ===== Styles for the ep-tile component ====== */
.ep-tile .live-tile {
  float: left;
  overflow: hidden;
  position: relative;
}
.ep-tile .live-tile:hover {
  border: 3px solid #fff;
  cursor: pointer;
}
.ep-tile .ep-tile-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.ep-tile .ep-tile-close-button {
  width: 18px;
  margin: 2px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.ep-tile .ep-tile-caption-panel {
  width: 100%;
  min-height: 30px;
  max-height: 45px;
  overflow: hidden;
  margin: 0px;
  padding: 5px 0px 0px 0px;
}
.ep-tile .ep-tile-icon {
  padding-left: 5px;
  padding-right: 3px;
}
.ep-tile.ep-tile-opt-close-btn .ep-tile-caption-panel {
  padding-right: 10px;
}
.ep-tile.ep-tile-opt-cap-30 .live-tile.two-wide .tile-caption {
  font-size: small;
}
.ep-tile.ep-tile-opt-cap-30 .live-tile.one-wide .tile-caption {
  font-size: smaller;
}
.ep-tile .ep-tile-caption {
  padding-left: 3px;
}
/*tile-title is actually tile footer*/
.ep-tile .tile-title {
  padding: 4px;
  background-color: gray;
}
.ep-tile .ep-content-icon {
  position: absolute !important;
  /*top: 10px;*/
  right: 15px;
  font-size: 30px;
  opacity: 0.3;
}
@media only screen and (max-width: 400px) {
  .ep-tile .live-tile.two-wide,
  .ep-tile .live-tile.three-wide {
    width: 100%;
  }
}
/*
   This will center the tiles, when larger than 400 and less than 650. after that
   two tiles may fit side by side. Only in tiles panel mode
*/
@media only screen and (min-width: 400px) and (max-width: 650px) {
  .ep-tiles-panel {
    text-align: center;
  }
  .ep-tiles-panel .ep-tile {
    display: inline-block;
    text-align: left;
  }
}
/* in container mode tile springs to container width less the margins */
.ep-tile-size-container .live-tile {
  width: 95%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: calc(100% - 10px);
}
/* Fade-in the menu */
/*.ep-tile.ep-fadein-animation.ng-enter,
.ep-tile.ep-fadein-animation.ng-leave
{
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-tile.ep-fadein-animation.ng-enter,
.ep-tile.ep-fadein-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.ep-tile.ep-fadein-animation.ng-enter.ng-enter-active,
.ep-tile.ep-fadein-animation.ng-leave {
  opacity: 1;
}*/

.ep-tiles-panel .ep-repeat-animation.ng-enter,
.ep-tiles-panel .ep-repeat-animation.ng-leave,
.ep-tiles-panel .ep-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-tiles-panel .ep-repeat-animation.ng-enter {
  opacity: 0;
}
.ep-tiles-panel .ep-repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.ep-tiles-panel .ep-repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.ep-tiles-panel .ep-repeat-animation.ng-leave {
  opacity: 1;
}
.ep-tiles-panel .ep-repeat-animation.ng-move {
  opacity: 0.5;
}
.ep-tiles-panel .ep-repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}
